.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}

.cd{
  margin: 100px;
  margin-top: 150px;
  margin-right: -5px;

}

.cad{
  margin-top: -60px ;
  margin-right: 100px;
 
}

img{
  width: 750px;
  height: 1000px;
}

.out{
  margin-top: -90px;
}